# Core functionality - changes here should be rare!
/src/app.py                   @DileepaPRA
/src/backend/database.py      @DileepaPRA
/src/backend/routers/auth.py  @DileepaPRA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DileepaPRA
